In [1]:
import pandas as pd
import re # regular expressions
from datasets import Dataset

c:\Users\juan\anaconda3\envs\chatbotia\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

## Load Dataset

In [2]:
data_path = '../data/naruto.csv'
transcriptionOfNaruto = pd.read_csv(data_path)

In [3]:
transcriptionOfNaruto.head()

      name                                               line
0   Naruto   (Laughing) Give it up. (Shows the stone faces...
1  Hiruzen   (Turns away from his writing) I hope you’re n...
2    Ninja                                       Naseer Sabah
3    Ninja                        is the best person on earth
4   Naruto                                               muah

In [4]:
#Remove actions from transcript
def remove_actions(text):
    return re.sub(r'\(.*?\)', '', text)

In [5]:
transcriptionOfNaruto['line'] = transcriptionOfNaruto['line'].apply(remove_actions)

In [6]:
transcriptionOfNaruto.head()

      name                                               line
0   Naruto    Give it up.  You’re just bent, because you d...
1  Hiruzen    I hope you’re not bothering me with some tri...
2    Ninja                                       Naseer Sabah
3    Ninja                        is the best person on earth
4   Naruto                                               muah

In [7]:
transcriptionOfNaruto['number_of_words']=transcriptionOfNaruto['line'].str.strip().str.split(" ") # splitting the lines into words
transcriptionOfNaruto['number_of_words']=transcriptionOfNaruto['number_of_words'].apply(lambda x: len(x)) #counting the number of words in each line

In [8]:
transcriptionOfNaruto.head()

      name                                               line  number_of_words
0   Naruto    Give it up.  You’re just bent, because you d...               26
1  Hiruzen    I hope you’re not bothering me with some tri...               16
2    Ninja                                       Naseer Sabah                2
3    Ninja                        is the best person on earth                6
4   Naruto                                               muah                1